* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.top {
  height: 45vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bud.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.text-budget {
  color: cornsilk;
  text-align: center;
  transform: translateY(50px);
  text-transform: uppercase;
}

.budget {
  width: 260px;
  height: 40px;
  margin-bottom: 9px;
}

.edges {
  background-color: #28b9b5;
}

.edges-1 {
  background-color: #ff5049;
}

.edges-2 {
  background-color: rgb(224, 165, 15);
}

.main p {
  text-align: right;
  transform: translateY(-10px);
  margin-right: 15px;
}
.main {
  position: absolute;
  left: 40%;
  top: 40%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
}

.bar {
  height: 70px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 8px;
  border-radius: 5px;
  transition: border 0.3s;
  outline: none;
}
.select {
  font-size: 15px;
  margin-left: 6px;
  border-right: 1px solid rgb(190, 190, 190);
  height: 50px;
}
.add-btn {
  font-size: 25px;
  color: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 2px;
  margin-right: 10px;
  outline: rgb(190, 190, 190);
}
.box-1 {
  border-right: 1px solid rgb(190, 190, 190);
  height: 50px;
}
.calc {
  margin-left: 10px;
  transform: translateY(-4px);
}
.add-btn:active {
  transform: translateY(2px);
}
h3 {
  color: #ff5049;
  text-align: center;
  transform: translateY(15px);
}
h7 {
  margin-left: 20px;
  position: relative;
  top: 10px;
}

.exp-div {
  background-color: #e7e7e7;
  margin-top: 50px;
  width: 50%;
  text-align: left;
}

.exp-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 550px;
  font-style: italic;
}

.exp-parent {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.value-div {
  background-color: #e7e7e7;
  margin-top: 50px;
  width: 50%;
  text-align: left;
}
